body {
  margin: 0;
  padding: 0;
  background-image: url("../Assets/Img/bg.jpg");
  width: 100%;
  height: 100%;
  font-family: Verdana, Arial, sans-serif, Lucida Grande;
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat; }

body .bodyContainer .leftPanel {
  width: 12%;
  height: 100%;
  position: fixed;
  float: left; }

body .bodyContainer .leftPanel .top {
  height: 50%;
  width: 100%;
  background-color: #00a1de;
  color: white; }

body .bodyContainer .leftPanel .top .topDrwaer {
  height: 20%;
  width: 100%;
  position: relative; }

body .bodyContainer .leftPanel .top .topDrwaer img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

body .bodyContainer .leftPanel .top .divContent {
  height: 75%;
  width: 100%;
  text-align: center; }

body .bodyContainer .leftPanel .top .divContent img {
  height: 70px;
  width: 70px;
  -webkit-align-self: center;
  align-self: center; }

body .bodyContainer .leftPanel .bottom {
  height: 50%;
  width: 100%;
  background-color: #fff;
  position: relative; }

body .bodyContainer .leftPanel .bottom figure {
  -webkit-margin-before: 0px;
  padding-top: 50%;
  text-align: center; }

body .bodyContainer .leftPanel .bottom figure img {
  height: 40px; }

body .bodyContainer .rightPanel {
  width: 88%;
  height: auto;
  right: 0;
  float: right; }

body .bodyContainer .rightPanel .insidePanel {
  width: 80%;
  margin: 0 auto;
  margin-top: 20%;
  font-family: monospace; }

body .bodyContainer .rightPanel .insidePanel .firstRow {
  width: 45%;
  background-color: white; }

body .bodyContainer .rightPanel .insidePanel .firstRow .travelGuide {
  font-size: 50px;
  display: inline-block;
  color: #007F7F;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  padding: 4%; }

body .bodyContainer .rightPanel .insidePanel .rowTwo {
  width: 100%;
  font-size: 14px;
  text-align: right;
  padding-right: 1%;
  padding-top: 5%; }

body .bodyContainer .rightPanel .insidePanel .rowTwo i {
  height: 10px; }

body .bodyContainer .rightPanel .insidePanel .rowTwo span {
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white; }

body .bodyContainer .rightPanel .insidePanel .rowThree {
  width: 100%;
  background-color: red;
  margin-top: 1%; }

body .bodyContainer .rightPanel .insidePanel .rowThree .header {
  background: rgba(0, 49, 69, 0.9);
  padding: 1%;
  padding-left: 3%;
  width: 96%;
  color: #fff;
  text-decoration: none;
  font-size: 22px; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content {
  background-color: white;
  padding: 2%;
  height: auto;
  font-size: 18px; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .noOfDestination {
  font-size: 40px;
  color: #00a1de; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .des {
  width: 100%; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .leftDescription {
  float: left;
  width: 50%; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .locationspan {
  color: #00a1de; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .rightFilters {
  line-height: 1.6;
  width: 50%;
  float: right;
  text-align: right; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .rightFilters .selectOption {
  width: 150px;
  height: 30px;
  border: solid black 2px;
  border-radius: 3px; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .rightFilters .heightSet {
  font-size: 30px;
  padding-top: 1%; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .errorDetails {
  margin-top: 4%;
  font-size: 15px;
  text-align: left;
  margin-bottom: 0;
  padding-right: 0; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription {
  border: 1px solid #c2deea;
  margin-top: 1%;
  padding: 2.6%;
  word-wrap: break-word;
  height: 320px; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .moreFacility {
  color: #005b82; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .placeInfo {
  width: 65%;
  float: left; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .placeInfo .forborder {
  padding-bottom: 2%;
  border-bottom: 1px dotted #005b82; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .placeInfo .placeLeft {
  width: 50%;
  float: left;
  color: #005b82;
  font-size: 25px; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .placeInfo .placeRight {
  width: 50%;
  float: right;
  text-align: right; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .placeInfo .placeRight b {
  font-size: 15px; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .placeInfo .plcDes {
  margin-top: 10%;
  color: #003145;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", verdana, arial, sans-serif; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .placeInfo .moreDescription {
  padding-top: 2%;
  padding-left: 5%; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .placeInfo .moreDescription button {
  height: 40px;
  width: 200px;
  background-color: #07a2de;
  color: white;
  font-weight: bold;
  border-radius: 2px; }

body .bodyContainer .rightPanel .insidePanel .rowThree .content .placeDescription .ImgOfPlace {
  margin-left: 2%;
  width: 33%;
  float: right; }
